* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    min-height: calc(100vh - 202px);
}

footer {
    margin-top: auto;
}

.formFirst {
    display: none;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 2%;
    color: white;
}

.notifyjs-test-base {
    white-space: nowrap;
    background-color: coral;
    border-radius: 1.5rem;
    padding: 7px;
    color: white;
  }

  .del {
      cursor: pointer;
      transition: 200ms;
  }

.del:hover {
    color: red!important;
    transition: 200ms;
    transform: scale(0.8);
}

  .card {
      cursor: pointer;
      color: white;
      box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.2); 
      animation-name: fadeInDown;
      animation-duration: 1s;
      transition: 300ms;
  }

  .card:hover {
      transition: 300ms;
      transform: scale(0.97);
      background: #2F4F4F!important;
      box-shadow: none;
  }

  .idel {
      position: absolute;
      z-index: 999;
      width: 10%;
      margin-left: 80%;
      text-align: center;
      transition: 200ms;
      animation-name: bounce;
      animation-duration: 500ms;
  }

.idel i  {
    padding: 20%;
}

.idel:hover {
    background: #17a2b8!important;
    transition: 200ms;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -7px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

.deletes {
    display: none;
}

  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -50%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }